<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
{% comment %} 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glowing- Reveal The Beauty of Skin</title>

  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <!--
      -preload images
  -->
  <link rel="preload" as="image" href="{{'MainLogo_png.svg' | asset_url}}">
  <link rel="preload" as="image" href="{{'shoe9.jpg' | asset_url }}">
  <link rel="preload" as="image" href="{{'shoes.jpg' | asset_url }}">
  <link rel="preload" as="image" href="{{'shoes4.jpg' | asset_url}}">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {% comment %} {{ 'application.js' | asset_url | script_tag }} {% endcomment %}
  <script src="{{ 'application.js' | asset_url }}" defer></script>
</head>
<body id="top">
  {% sections 'header-group' %}
  <main role="main">
    {{ content_for_layout }}
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'application.js' | asset_url | script_tag }}  {% endcomment %}
  </main>
  {% comment %} {% sections 'aside-group' %} {% endcomment %}
  {% sections 'footer-group' %}
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {% comment %} {{ 'application.js' | asset_url | script_tag }}  {% endcomment %}
  <script src='{{ 'application.js' | asset_url | script_tag }}' defer></script> 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
