<header class="header">
    {% comment %} <div class="alert">
        <div class="container">
            <p class="alert-text">Free Shipping On All U.S. Orders $50+</p>
        </div>
    </div> {% endcomment %}
    <div class="header-top" data-header>
        <div class="container">
            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
               <span class="line line-1"></span>
               <span class="line line-2"></span>
               <span class="line line-3"></span>
            </button>
            

            <a href="#" class="logo">
                <img src="{{'MainLogo_png.svg' | asset_url}}" alt="logo" width="69" height="26" alt="Glowing">
            </a>
            
          <div class="input-wrapper">
               <form action='/search'>
                 <input type="search" name="search" placeholder="Search product" class="search-field">    
              </form>
                <button class="search-submit" arial-label="search">
                  <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>

            <div class="header-actions">
                <button class="header-action-btn" aria-label="cart-item" onclick="openCart()">
                    <data class="btn-text" value="0">$0.00</data>
                    <ion-icon name="bag-handle-outline" aria-hidden="true" aria-hidden="true" onclick="toggleCartbar()"></ion-icon>
                    <span class="btn-badge">0</span>
                </button>
                <button class="header-action-btn" aria-label="favourite-item">
                    <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                    <span class="btn-badge">0</span>
                </button>
                <button class="header-action-btn" aria-label="user" onclick="openModal()">
                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                </button> 
                
                
              
            </div>

            <nav class="navbar">
                <ul class="navbar-list">
                    {% comment %} <li>
                        <a href="/" class="navbar-link has-after">Home</a>
                    </li>
                    <li>
                        <a href="pages/main-collection"  class="navbar-link has-after">Collection</a>
                    </li>
                    <li>
                        <a href="pages/shop" class="navbar-link has-after">Shop</a>
                    </li>
                    <li>
                        <a href="/offer.html" class="navbar-link has-after">Offer</a>
                    </li>
                    <li>
                        <a href="#blog" class="navbar-link has-after">Blog</a>
                    </li> {% endcomment %}
                    {% for link in linklists['main-menu'].links %}
                      <li class="navbar-link has-after">{{link.title | link_to: link.url}}</li>
                     {% endfor %}
                </ul>
            </nav>
        </div>   
    </div>
</header>



    <!-- 
            MODAL
         -->
    <div id="myModal" class="modal">
          <div class="modal-content">
              <button class="nav-close-btn" onclick="closeModal()">
                  <ion-icon name="close-outline" aria-hidden="true" ></ion-icon>
              </button>
              <a href="#" class="logo">
                 <img src="./assets/images/MainLogo.png.svg" />
               </a>
              
               <div id="login">
                <form >
                   <label>Username or Email</label>
                   <input />
                   <label>Password</label>
                   <input/>
                   <p>Not a member? <a href="#" onclick="toggleForm('register')">Create an account</a></p>
                   <!-- <button type="submit">Login</button> -->
                </form>
               </div>

              <div id="register" class='hidden'>
                <form >
                   <label>First Name</label>
                   <input />
                   <label>Last Name</label>
                   <input />
                   <label>Email</label>
                   <input />
                   <label>Password</label>
                    <input/>
                    <label>Confirm Password</label>
                   <input />
                   <p>Already registered? <a href="#" onclick="toggleForm('login')">Log in</a></p>
                   <!-- <button type="submit">Login</button> -->
                 </form>
              </div>
           </div>
     </div> 

 <!--
            MOBILE NAvBAR
        -->
        <div class="sidebar">
          <div class="mobile-navbar" data-navbar>
             <div class="wrapper">
                <a href="#" class="logo">
                  <img src="{{'MainLogo_png.svg' | asset_url}}" width="60" height="26" alt="Glowing">
              </a>

              <button class="nav-close-btn" data-nav-toggler>
                  <ion-icon name="close-outline" aria-hidden="true" ></ion-icon>
              </button>
             </div>

             <ul class="navbar-list">
               {% comment %} <li>
                  <a href="/" class="navbar-link" data-nav-link>Home</a>
               </li>
               <li>
                  <a href="/pages/main-collection" class="navbar-link" data-nav-link>Collection</a>
               </li>
               <li>
                  <a href="#shop" class="navbar-link" data-nav-link>Shop</a>
               </li>
               <li>
                  <a href="#offer" class="navbar-link" data-nav-link>Offer</a>
               </li>
               <li>
                  <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
               </li> {% endcomment %}
               {% for link in linklists['main-menu'].links %}
                <li class="navbar-link" data-nav-link>{{link.title | link_to: link.url}}</li>
               {% endfor %}
             </ul>
          </div>
          <div class="overlay" data-nav-toggler data-overlay>

          </div>
      </div>


      <!--
          ADD CART SIDEBAR
      -->
      <div id="myModal2" class="cartBar" >
          <div class="cartBar-content">
              <button class="nav-close-btn" onclick="closeCartbar()">
                  <ion-icon name="close-outline" aria-hidden="true" ></ion-icon>
              </button>
             <p>Add To Cart</p>
             <a href="#" class="btn btn-primary">Checkout</a>
           
           </div>
     </div> 



<style>
    /*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
{% comment %} .header .input-wrapper,
.header-action-btn:not(:first-child),
.navbar {display: none;}

.header{
  position: relative;
  padding-block-end: 80px;
}

.alert{
  background-color: var(--black);
  color:var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  letter-spacing: 2px;
  text-align: center;
  padding-block: 15px;
  margin-bottom: 20px;
}

.header-top{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 26px;
  z-index: 4;
}

.header-top.active{
  position: fixed;
  top: -105px;
  bottom: auto;
  box-shadow: var(--shadow-1);
  transform: translateY(100%);
  transition: var(--transition-2);
}

.header-top.header-hide{
  box-shadow: none;
  transform: translateY(0);
}

.header-top .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px
}

.nav-open-btn{
  width: 26px;
  display: grid;
  gap: 6px;
  padding-block: 5px;
}

.nav-open-btn .line{
  background-color: var(--black);
  height: 2px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
}


@keyframes menuBtn {
  0% { transform: scaleX(1); }
  100% { transform: scaleX(0.5); }
}

.nav-open-btn .line-1{ width: 15px; animation-delay: 150ms;}
.nav-open-btn .line-2{ width: 18px; animation-delay: 300ms;}

.header-action-btn{
  font-size: 28px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus){
  color: var(--black_70);
}
 {% endcomment %}


/*-----------------------------------*\
  #MOBILE NAVBAR
\*-----------------------------------*/
{% comment %} .sidebar{z-index: 5;}

.mobile-navbar{
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 350px;
  width: 100%;
  padding: 25px 40px;
  z-index: 6;
  transform: translateX(-100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.mobile-navbar.active{
  visibility: visible;
  transform: translateX(0);
  transition: 0.4s var(--cubic-out);
}


.mobile-navbar .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 55px;
}

.nav-close-btn{
  font-size: 28px;
  color: var(--hoockers-green);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width:40px;
}

.mobile-navbar .navbar-link{
  color: var(--black);
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 1px;
  padding-block: 5px;
  transition: var(--transition-1);
}

.mobile-navbar .navbar-link:is(hover, :focus){color: var(--hoockers-green);}


.overlay{
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active{
  background-color: var(--black_50);
  pointer-events: all;

}

@media screen and (min-width: 1200px) { {% endcomment %}

        /*
     REUSED STYLE
      */
{% comment %}      
      .container{max-width: 1300px;}
     
      .scrollbar-item {min-width: calc(20% - 24px);}
     
      .flex-item {max-width: calc(33.33% - 20px);} {% endcomment %}
     
     
         /*
     HEADER
      */
     
      {% comment %} .header .input-wrapper,
      .header-action-btn:not(:first-child),
      .navbar{display: block;}
     
     
      .nav-open-btn {display: none;}
     
      .header{
       padding-block-end: 60px;
       margin-block-end: 10px;
      }
     
      .header-top{
       position: unset;
       padding-block: 24px 0;
      }
     
     
      .header-top:is(.active, .header-hide){all: unset;}
     
      .header-top .container{flex-wrap: wrap;}
     
      .search-field{
       width: 270;
       font-size: var(--fs-7);
       border: 2px solid var(--hoockers-green);
       border-radius: var(--radius-3);
       padding: 10x 20px;
       scroll-padding-inline-end: 40px;
       outline: none;
       transition: var(--transition-1);
      }
     
     
     
      .search-field::placeholder{color: var(--spanish-gray);}
     
      
      .search-field:focus {border-color: var(--black);}
     
      
      .header .input-wrapper{position: relative;}
     
      .header .search-submit{
       position: absolute;
       top: 50%;
       right: 15px;
       transform: translateY(-50%);
       font-size: 22px;
      }
     
     
      .header .search-submit ion-icon{
       --ionicon-stroke-width:40px
      }
     
      .header .logo{
        margin-inline-end:60px;
      }
     
      .header-actions{
       display: flex;
       align-items: center;
       gap: 40px;
      }
     
      .header-action-btn {position: relative;}
     
      .header-action-btn .btn-badge {
       position: absolute;
       top: 0;
       right: -10px;
       background-color: var(--black);
       color: var(--white);
       font-size: var(--fs-9);
       min-width: 18px;
       height: 18px;
       line-height: 1.4;
       border-radius: 20px;
      }
     
      .header-action-btn:first-child{
       display: flex;
       align-items: center;
       gap:10px;
      }
     
     
      .header-action-btn .btn-text{
       font-size: var(--fs-7);
       font-weight: var(--fw-700);
       margin-block-start:3px;
      }
     
      .navbar{
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       background-color: var(--white);
       padding-block: 18px;
       z-index: 4;
      }
     
     
      .navbar .navbar-list{
       display: flex;
       justify-content: center;
       gap: 45px;
      }
     
      .navbar .navbar-link{
       color: var(--black);
       font-size: var(--fs-7);
       font-weight: var(--fw-600);
      }
     
      .navbar .navbar-link::after{
       bottom: 0;
       left: 0;
       width: 100%;
       height: 1px;
       background-color: var(--black);
       transition: var(--transition-1);
       transform: scaleX(0);
       transform-origin: left;
      }
     
      .navbar .navbar-link:is(:hover, :focus)::after{
       transform: scaleX(1);
      }
     
      .header-top.active .navbar{
       position: fixed;
       top: -80px;
       bottom: auto;
       padding-block: 28px;
       box-shadow: var(--shadow-1);
       transform: translateY(100%);
       transition: var(--transition-2);
      }
     
      
      .header-top.header-hide .navbar{
       box-shadow: none;
       transform: translateY(0);
      }
}      {% endcomment %}
   
</style>

<script src="{{ 'application.js' | asset_url }}" defer></script>
  
{% schema %}
{
  "name": "header",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}