
{{ 'application.css' | asset_url | stylesheet_tag }}
{{ 'application.css' | asset_url | stylesheet_tag }}

{% comment %} data-section {% endcomment %}
 {% comment %} <section class="section hero" id="home" aria-label="hero" >
    <div class="container">
        <ul class="has-scrollbar">
            <li class="scrollbar-item">
                <div class="hero-card has-bg-image" style="background-image: url('{{ 'shoe8.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;">
                    <div class="card-content">
                        <h1 class="h1 hero-title">
                           Unveiling the <br/>
                            Classy Shoe
                         </h1>
                         <p class="hero-text">
                           Designed with clean, non-toxic materials, our shoes ensure style and comfort for everyone.
                         </p>
                         <p class="price"> Starting at $17.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
                 <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('{{ 'shoes.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; ">
                      <div class="card-content">
                         <h1 class="h1 hero-title">
                          Unveiling the <br/>
                          Classy Shoe
                         </h1>
                         <p class="hero-text">
                           Designed with clean, non-toxic materials, our shoes ensure style and comfort for everyone.
                         </p>
                         <p class="price"> Starting at $17.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
                 <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('{{ 'shoes4.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; ">
                      <div class="card-content">
                         <h1 class="h1 hero-title">
                          Unveiling the <br/>
                          Classy Shoe
                         </h1>
                         <p class="hero-text">
                          Designed with clean, non-toxic materials, our shoes ensure style and comfort for everyone.
                         </p>
                         <p class="price"> Starting at $17.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
              </ul>
           </div>  
 </section> {% endcomment %}
 <section class="hero text-center" aria-label="home" id="home">

  <ul class="hero-slider" data-hero-slider>

    <li class="slider-item active" data-hero-slider-item>

      <div class="slider-bg">
        <img src="./assets/images/hero-slider-1.jpg" width="1880" height="950" alt="" class="img-cover">
      </div>

      <p class="label-2 section-subtitle slider-reveal">Tradational & Hygine</p>

      <h1 class="display-1 hero-title slider-reveal">
        For the love of <br>
        delicious food
      </h1>

      <p class="body-2 hero-text slider-reveal">
        Come with family & feel the joy of mouthwatering food
      </p>

      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">View Our Menu</span>

        <span class="text text-2" aria-hidden="true">View Our Menu</span>
      </a>

    </li>

    <li class="slider-item" data-hero-slider-item>

      <div class="slider-bg">
        <img src="./assets/images/hero-slider-2.jpg" width="1880" height="950" alt="" class="img-cover">
      </div>

      <p class="label-2 section-subtitle slider-reveal">delightful experience</p>

      <h1 class="display-1 hero-title slider-reveal">
        Flavors Inspired by <br>
        the Seasons
      </h1>

      <p class="body-2 hero-text slider-reveal">
        Come with family & feel the joy of mouthwatering food
      </p>

      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">View Our Menu</span>

        <span class="text text-2" aria-hidden="true">View Our Menu</span>
      </a>

    </li>

    <li class="slider-item" data-hero-slider-item>

      <div class="slider-bg">
        <img src="./assets/images/hero-slider-3.jpg" width="1880" height="950" alt="" class="img-cover">
      </div>

      <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>

      <h1 class="display-1 hero-title slider-reveal">
        Where every flavor <br>
        tells a story
      </h1>

      <p class="body-2 hero-text slider-reveal">
        Come with family & feel the joy of mouthwatering food
      </p>

      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">View Our Menu</span>

        <span class="text text-2" aria-hidden="true">View Our Menu</span>
      </a>

    </li>

  </ul>

  <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
    <ion-icon name="chevron-back"></ion-icon>
  </button>

  <button class="slider-btn next" aria-label="slide to next" data-next-btn>
    <ion-icon name="chevron-forward"></ion-icon>
  </button>

  <a href="#" class="hero-btn has-after">
    <img src="./assets/images/hero-icon.png" width="48" height="48" alt="booking icon">

    <span class="label-2 text-center span">Book A Table</span>
  </a>

 </section>
 

<style>
  /*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero .slider-btn { display: none; }

.hero {
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero .slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.hero .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.hero .section-subtitle::after { margin-block: 14px 20px; }

.hero-text { margin-block: 10px 40px; }

.hero .btn { margin-inline: auto; }

.hero-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: var(--gold-crayola);
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}

.hero-btn .span {
  color: var(--black);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  line-height: var(--lineHeight-3);
}

.hero-btn::after {
  inset: 0;
  border: 1px solid var(--gold-crayola);
  animation: rotate360 15s linear infinite;
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }

.hero .slider-item.active .hero-title { animation-delay: 1000ms; }

.hero .slider-item.active .hero-text { animation-delay: 1.5s; }

.hero .slider-item.active .btn { animation-delay: 2s; }


{% comment %} /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  .hero{padding-block-start:0;}
  
  .hero-card{
    background-color: var(--light-gray);
    padding:100px 15px;
    background-position: 40%;
  }
  
  .hero-text{
    font-size: var(--fs-6);
    margin-block: 16px 30px;
  }
  
  .hero .price{
    color:var(--black);
    font-size:var(--fs-5);
    font-weight: var(--fs-600);
    margin-block-end: 20px;
  }
  
  .hero .scrollbar-item {
    min-width: 100%;
  
  }
  @media screen and (min-width: 575px) {
    /*
    REUSED STYLE
    */
    
    .container{
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
    
    :is(.header, .hero) .container{max-width: unset;}
    
    .has-scrollbar {gap: 30px;}
    
    .scrollbar-item{ min-width: calc(50% - 15px);}
    
    
    /*
    HERO
    */
    
    .hero-card {padding-inline: 70px;}
    
    .hero-text {max-width: 30ch;}

    
    
    }
    @media screen and (min-width: 1200px) {

      /*
   REUSED STYLE
    */
   
    .container{max-width: 1300px;}
   
    .scrollbar-item {min-width: calc(20% - 24px);}
   
    .flex-item {max-width: calc(33.33% - 20px);}
  
   /*
    HERO
    */
   
    .hero-card{padding: 120px 100px;}
    .hero-text {max-width: 40ch;}
   
   
   } {% endcomment %}
</style>

<script>
// Put your applicaiton javascript here
'use strict';
/**Modal toggle */

//Open close modal
function openModal() {
  document.getElementById('myModal').style.display = 'flex';
}

function openCart() {
  document.getElementById('myModal2').style.display = 'flex';
}

function toggleForm(formToShow){
const login=document.getElementById('login')
const register=document.getElementById('register')



if(formToShow === 'register'){
  login.classList.add('hidden')
  register.classList.remove('hidden')
}else {
  login.classList.remove('hidden')
  register.classList.add('hidden')
}
}


// Function to close the modal
function closeModal() {
  document.getElementById('myModal').style.display = 'none';
}


// Function to close the cart
function closeCartbar() {
  document.getElementById('myModal2').style.display = 'none';
}

// Close the modal if the overlay (background) is clicked
window.onclick = function(event) {
  if (event.target === document.getElementById('myModal')) {
      closeModal();
  }
};







/**add event on element */


const addEventOnElem = function (elem, type, callback) {
  if (!elem) {
    return;
  }
  
  if (elem.length > 1) {
    for (let i = 0; i < elem.length; i++) {
      if (elem[i] && typeof elem[i].addEventListener === 'function') {
        elem[i].addEventListener(type, callback);
      } else {
        console.error('Element is not valid or does not support addEventListener:', elem[i]);
      }
    }
  } else {
    if (typeof elem.addEventListener === 'function') {
      elem.addEventListener(type, callback);
    } else {
      console.error('Element is not valid or does not support addEventListener:', elem);
    }
  }
}

/**navbar- toggle */

const navTogglers = document.querySelectorAll("[data-nav-toggler]");
const navbar = document.querySelector("[data-navbar]");
const navbarLinks =document.querySelectorAll("data-nav-link")
const overlay = document.querySelector("[data-overlay]")

const toggleNavbar = function(){
  navbar.classList.toggle('active');
  overlay.classList.toggle('active');
}

addEventOnElem(navTogglers, "click", toggleNavbar)


const closeNavbar = function(){
   navbar.classList.remove('active')
   overlay.classList.remove('active')
}

addEventOnElem(navbarLinks, "click", closeNavbar)


/**
 * header-sticky
 */

const header = document.querySelector("[data-header]")
const backTopBtn = document.querySelector("[data-back-top-btn]")
const headerActive = function () {
  if (window.scrollY > 150) {
    header.classList.add("active");
    backTopBtn.classList.add("active");
  } else {
    header.classList.remove("active");
    backTopBtn.classList.remove("active");
  }
}

addEventOnElem(window, "scroll", headerActive)

let lastScrolledPos = 0;

const headerSticky = function() {
    if(lastScrolledPos >= window.scrollY){
        header.classList.remove("header-hide")
    }else {
        header.classList.add("header-hide")
    }
    lastScrolledPos = window.scrollY;
}

addEventOnElem(window, "scroll", headerSticky)



/**scroll reveal effect */

const sections = document.querySelectorAll("[data-section]")

const scrollReveal = function(){
  for (let i = 0; i < sections.length; i++) {
    if(sections[i].getBoundingClientRect().top < window.innerHeight/2){
      sections[i].classList.add("active")
    }
  }
}

scrollReveal();

addEventOnElem(window, "scroll", scrollReveal)




document.addEventListener('DOMContentLoaded', function() {
  const heroSlider = document.querySelectorAll('.scrollbar-item');
  const itemWidth = window.innerWidth; // Assuming all items have the same width
  const totalItems = heroSlider.length;

  let currentSlide = 1;

  function scrollToNextItem() {
    const distance = -itemWidth * currentSlide;
    // Move all items to the left
    heroSlider.forEach((item, index) => {
      let newPosition = (index - currentSlide) * itemWidth; // Calculate the new position
      item.style.transform = `translateX(${distance}px)`;
      item.style.transition = 'transform 2s ease-in-out';
    });

    // Increment the slide index
    currentSlide++;

    // If we've reached the end, reset the position
    if (currentSlide >= totalItems) {
      currentSlide = 0;
      // Reset the positions of all items instantly after the last transition
      setTimeout(() => {
        heroSlider.forEach((item, index) => {
          let resetPosition = (index - currentSlide) * itemWidth;
          item.style.transform = `translateX(${resetPosition}px)`;
          item.style.transition = 'none'; // Disable transition for the reset
        });
      }, 2000); // Match the timeout with the duration of the transition
    }
  }

  // Initially position the items
  heroSlider.forEach((item, index) => {
    let initialPosition = index * itemWidth;
    item.style.transform = `translateX(${initialPosition}px)`;
  });

  // Set an interval to scroll to the next item every 3 seconds
  setInterval(scrollToNextItem, 3000);
});



/*HERO SLIDER*/
const heroSlider = document.querySelector('[data-hero-slider]')
const heroSliderItems = document.querySelectorAll("[data-hero-slider-item]")
const heroSliderPrevBtn = document.querySelector("[data-prev-btn]")
const heroSliderNextBtn = document.querySelector("[data-next-btn]")

let currentSlidePos = 0;
let lastActiveSliderItem = heroSliderItems[0];

const updateSliderPos = function(){
  lastActiveSliderItem.classList.remove('active');
  heroSliderItems[currentSlidePos].classList.add("active");
  lastActiveSliderItem = heroSliderItems[currentSlidePos]
}

const slideNext = function(){
  if(currentSlidePos >= heroSliderItems.length -1){
    currentSlidePos =0
  } else {
    currentSlidePos++
  }

  updateSliderPos()
}

heroSliderPrevBtn.addEventListener("click", slidePrev)

let autoSlideInterval;

const autoSlide = function(){
  autoSlideInterval = setInterval(function(){
    slideNext()
  }, 7000)
}

addEventOnElements([heroSliderNextBtn, heroSliderPrevBtn], 'mouseover', function(){
  clearInterval(autoSlideInterval)
})

addEventOnElements([heroSliderNextBtn, heroSliderPrevBtn], 'mouseout', autoSlide)

window.addEventListener("load", autoSlide)

const parallaxItems = document.querySelectorAll("[data-parallax-item]")

let x,y;

window.addEventListener('mousemove', function(event){
 
   x = (event.clientX / window.innerWidth * 10)-5;
   y = (event.clientY/ window.innerHeight * 10)-5

   //reverse the number eg. 20 -> -20, -5 -> 5

   x = x - (x * 2)
   y = y - (y * 2)


   for(let i = 0, len = parallaxItems.length; i < len; i++){
     x = x * Number(parallaxItems[i].dataset.parallaxSpeed)
     y = y * Number(parallaxItems[i].dataset.parallaxSpeed)
     parallaxItems[i].style.transform = `translate3d(${x}px, ${y}px, 0px)`
   }
})


</script>

{% schema %}
{
  "name": "hero",
  "settings":[
   
],
  "blocks": [],
  "presets": [
    {
      "name": "hero"
    }
  ]
}
{% endschema %}


{% comment %} {
  "type":"image_picker",
  "id":"image1",
  "label":"first Image",
  "default":"shoe8.jpg"
} {% endcomment %}