
{{ 'application.css' | asset_url | stylesheet_tag }}
{{ 'application.css' | asset_url | stylesheet_tag }}

{% comment %} data-section {% endcomment %}
 <section class="section hero" id="home" aria-label="hero" >
    <div class="container">
        <ul class="has-scrollbar">
            <li class="scrollbar-item">
                <div class="hero-card has-bg-image" style="background-image: url('{{ 'shoe8.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
                    <div class="card-content">
                        <h1 class="h1 hero-title">
                            Reveal The <br/>
                            Beauty of Skin
                         </h1>
                         <p class="hero-text">
                            Made using clean, non-toxic ingredients, our products are designed for everyone.
                         </p>
                         <p class="price"> Starting at $7.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
                 <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('{{ 'shoes.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
                      <div class="card-content">
                         <h1 class="h1 hero-title">
                            Reveal The <br/>
                            Beauty of Skin
                         </h1>
                         <p class="hero-text">
                            Made using clean, non-toxic ingredients, our products are designed for everyone.
                         </p>
                         <p class="price"> Starting at $7.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
                 <li class="scrollbar-item">
                    <div class="hero-card has-bg-image" style="background-image: url('{{ 'shoes4.jpg' | asset_url }}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; ">
                      <div class="card-content">
                         <h1 class="h1 hero-title">
                            Reveal The <br/>
                            Beauty of Skin
                         </h1>
                         <p class="hero-text">
                            Made using clean, non-toxic ingredients, our products are designed for everyone.
                         </p>
                         <p class="price"> Starting at $7.99</p>
                         <a href="#" class="btn btn-primary">Shop Now</a>
                      </div>
                    </div>
                 </li>
              </ul>
           </div>  
        </section>

 

<style>
/*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  .hero{padding-block-start:0;}
  
  .hero-card{
    background-color: var(--light-gray);
    padding:100px 15px;
    background-position: 40%;
  }
  
  .hero-text{
    font-size: var(--fs-6);
    margin-block: 16px 30px;
  }
  
  .hero .price{
    color:var(--black);
    font-size:var(--fs-5);
    font-weight: var(--fs-600);
    margin-block-end: 20px;
  }
  
  .hero .scrollbar-item {
    min-width: 100%;
  
  }
  @media screen and (min-width: 575px) {
    /*
    REUSED STYLE
    */
    
    .container{
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
    
    :is(.header, .hero) .container{max-width: unset;}
    
    .has-scrollbar {gap: 30px;}
    
    .scrollbar-item{ min-width: calc(50% - 15px);}
    
    
    /*
    HERO
    */
    
    .hero-card {padding-inline: 70px;}
    
    .hero-text {max-width: 30ch;}

    
    
    }
    @media screen and (min-width: 1200px) {

      /*
   REUSED STYLE
    */
   
    .container{max-width: 1300px;}
   
    .scrollbar-item {min-width: calc(20% - 24px);}
   
    .flex-item {max-width: calc(33.33% - 20px);}
  
   /*
    HERO
    */
   
    .hero-card{padding: 120px 100px;}
    .hero-text {max-width: 40ch;}
   
   
   }
</style>

<script>
// Put your applicaiton javascript here
'use strict';
/**Modal toggle */

//Open close modal
function openModal() {
  document.getElementById('myModal').style.display = 'flex';
}

function openCart() {
  document.getElementById('myModal2').style.display = 'flex';
}

function toggleForm(formToShow){
const login=document.getElementById('login')
const register=document.getElementById('register')



if(formToShow === 'register'){
  login.classList.add('hidden')
  register.classList.remove('hidden')
}else {
  login.classList.remove('hidden')
  register.classList.add('hidden')
}
}


// Function to close the modal
function closeModal() {
  document.getElementById('myModal').style.display = 'none';
}


// Function to close the cart
function closeCartbar() {
  document.getElementById('myModal2').style.display = 'none';
}

// Close the modal if the overlay (background) is clicked
window.onclick = function(event) {
  if (event.target === document.getElementById('myModal')) {
      closeModal();
  }
};







/**add event on element */


const addEventOnElem = function (elem, type, callback) {
  if (!elem) {
    return;
  }
  
  if (elem.length > 1) {
    for (let i = 0; i < elem.length; i++) {
      if (elem[i] && typeof elem[i].addEventListener === 'function') {
        elem[i].addEventListener(type, callback);
      } else {
        console.error('Element is not valid or does not support addEventListener:', elem[i]);
      }
    }
  } else {
    if (typeof elem.addEventListener === 'function') {
      elem.addEventListener(type, callback);
    } else {
      console.error('Element is not valid or does not support addEventListener:', elem);
    }
  }
}

/**navbar- toggle */

const navTogglers = document.querySelectorAll("[data-nav-toggler]");
const navbar = document.querySelector("[data-navbar]");
const navbarLinks =document.querySelectorAll("data-nav-link")
const overlay = document.querySelector("[data-overlay]")

const toggleNavbar = function(){
  navbar.classList.toggle('active');
  overlay.classList.toggle('active');
}

addEventOnElem(navTogglers, "click", toggleNavbar)


const closeNavbar = function(){
   navbar.classList.remove('active')
   overlay.classList.remove('active')
}

addEventOnElem(navbarLinks, "click", closeNavbar)


/**
 * header-sticky
 */

const header = document.querySelector("[data-header]")
const backTopBtn = document.querySelector("[data-back-top-btn]")
const headerActive = function () {
  if (window.scrollY > 150) {
    header.classList.add("active");
    backTopBtn.classList.add("active");
  } else {
    header.classList.remove("active");
    backTopBtn.classList.remove("active");
  }
}

addEventOnElem(window, "scroll", headerActive)

let lastScrolledPos = 0;

const headerSticky = function() {
    if(lastScrolledPos >= window.scrollY){
        header.classList.remove("header-hide")
    }else {
        header.classList.add("header-hide")
    }
    lastScrolledPos = window.scrollY;
}

addEventOnElem(window, "scroll", headerSticky)



/**scroll reveal effect */

const sections = document.querySelectorAll("[data-section]")

const scrollReveal = function(){
  for (let i = 0; i < sections.length; i++) {
    if(sections[i].getBoundingClientRect().top < window.innerHeight/2){
      sections[i].classList.add("active")
    }
  }
}

scrollReveal();

addEventOnElem(window, "scroll", scrollReveal)
</script>

{% schema %}
{
  "name": "hero",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "hero"
    }
  ]
}
{% endschema %}