
  <section class="section offer">
     <div class="container">
        {% comment %} <span>MENS-</span> {% endcomment %}
       <div class="offer-banner">

        
        <div class="thumbs">
           <img src="./assets/images/shoe1-1/img1.jpg" alt="" class="thumb-active">
           <img src="./assets/images/shoe1-1/img2.jpg" alt="">
           <img src="./assets/images/shoe1-1/img3.jpg" alt="">
           <img src="./assets/images/shoe1-1/img4.jpg" alt="">
          </div> 
          <div class="card-banner img-holder" style="--width:540 ; --height:720 ;">
             <img src="{{ product.featured_image | image_url }}" alt="{{product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
          </div>
       </div>
        <div class="offer-content">
          <h1 class="title">
            <span class="titleText">
                {{ product.title }}
            </span>
            <span class="titleOverlay"></span>
         </h1>
        <p class="description">
          {{ product.description }}
          </p>
          <div class="options">
               <h4>Size</h4>
              <ul class="sizes">
                <li class="size-active">37</li>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
              </ul>
            <div class="relative">
              <h4>Reviews</h4>
            </div>
            <div class="card-rating">
              <div class="rating-wrapper" aria-label="5 star rating">
                <ion-icon name="star" aria-hidden="true"></ion-icon>
                <ion-icon name="star"  aria-hidden="true"></ion-icon>
                <ion-icon name="star"  aria-hidden="true"></ion-icon>
                <ion-icon name="star"  aria-hidden="true"></ion-icon>
                <ion-icon name="star"  aria-hidden="true"></ion-icon>
               </div>
            </div>
          <div class="pricing">
         <h4>Price</h4>
         <h4 class="price">{{ product.price }}</h4>
         </div>
         <div class="colors">
         <h4>Colors</h4>
          <ul>
             <li class="color color-active"></li>
             <li class="color"></li>
          </ul>
         </div>
       </div>
       </div>
    </div>
</section>


{% comment %} <section class="product-main">
  <div class='product-main-wrapper'>
     <div>
       <img
        width="600"
        height="600"
        loading="lazy"
        src="{{ product.featured_image | image_url }}" 
      />
     </div>
     <div>
      <h2>{{ product.title }}</h2>
      <p>{{ product.price }}</p>
      <p>{{ product.description }}</p>
      <h3>Select Size</h3>
      {% form 'product', product %}
        <select name="id">
          {% for variant in product.variants %}
           <option value="{{ variant.id }}">
            {{ variant.title }}
           </option>
          {% endfor %}
        </select> 
       {% endform %}
       <button type="submit">Add to Card</button>
       <input type="submit" value="Add to cart">    
     </div>  
  </div>
</section> {% endcomment %}

<style>
  .product-banner{
    {% comment %} display: grid;
    grid-template-columns: 0.7fr 1fr; {% endcomment %}
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 30px;
    margin-block-end: 60px;
  }
{% comment %} ul{
    list-style: none;
    padding: 0;
    margin: 0;
} {% endcomment %}

{% comment %} .container{
    padding: 2em 2em 0 2em;
    max-width: 1350px;
    margin: 0 auto;
} {% endcomment %}

{% comment %} nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 600;
    font-size: 1.5em;
}

main, .bar-bottom{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-content: space-between;
    align-items: center;
    grid-gap:1.5em;
}

main{
    min-height: 75vh;
} {% endcomment %}

.title{
    position: relative;
}

.title .titleOverlay{
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    background: #111;
    z-index: -1;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: top left;
}

.titleText{
    color: #111;
}

.thumbs{
  display:'flex';

}

.thumbs img{
    width: 3em;
    height: 3em;
    border-radius: 4px;
    cursor: pointer;
}

.thumbs .thumb-active{
    border: 3px #ccc solid;
}

.showcase img{
    width: 100%;
    transform-origin: bottom;
}

.showcase > div {
    position: relative;
    height: 100%;
}

{% comment %} .shadow{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1em;
    width: 100%;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    filter: blur(3px);
    z-index: 0;
} {% endcomment %}


{% comment %} .options > div, 
.options > ul {
    padding: 0.6em 0;
} {% endcomment %}

.sizes li{
 width: 3.2em;
 height: 3.2em;
 border: 1px #111 solid;
 border-radius: 50%;
 text-align: center;
 line-height: 3.2em;
 font-size: 0.8em;
 transition: 0.3s;
}
.size-active{
    background: #111;
    color:#fff
}

.reviews, .pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing .price{
    color: #111;
}

.reviews h4, .pricing h4{
    color: #ccc;
}

.reviews .stars li{
    margin: 0;
    cursor:default;
}

.options{
    justify-self: end;
}

.options ul li{
   display: inline-block;
   margin: 0 0.2em;
   cursor: pointer; 
}

.options ul li:nth-child(1){
    margin-left: 0;
}

.colors li{
    width: 2em;
    height: 2em;
    background: red;
    border-radius: 50%;
    border: 3px #f6f6f6 solid;
}

.colors .color-active{
    border-color: #111;
}

.bar-bottom{
    background: #fff;
    padding: 1.5em;
}

.bar-bottom div, .bar-bottom a{
    display: flex;
    align-items: center;
}

.bar-bottom span{
    cursor: pointer;
}

.controls{
    justify-content: space-evenly;
}

.arrows span{
    font-size: 2.5em;
}
.pagination{
    display: flex;
    margin: 0 0.5em;
}
.pag{
    background: #ccc;
    width: 3em;
    height: 0.2em;
    margin: 0 7px;
    transition: 0.3s;
}

.pag-active{
    background: #111;
}

.arr-left {
    transform: rotate(180deg);
}

.cart{
    justify-self: center;
}

.cart button{
    background: #111;
    color: #fff;
    border: none;
    padding: 1.3em 2em;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 1.5em;
    transition: 0.3s;
}

.cart button:hover{
    background: #000;
}

/*Increase title size on larger screens*/

@media screen and(min-width:1250px){
    .title{
        font-size: 2.5em;
    }
}

/*Shoe Jump Animation*/
@keyframes jump{
    40%{
        transform: translateY(-8em) rotate(10deg);
    }
    70%{
       transform: translateY(-8em) rotate(0)
    }
    85%{
        transform: translateY(0) rotate(0deg)
    }
    87%{
        transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1);
    }

}


/*Shadow Animation*/
@keyframes shadow{
    50%{
        transform:translateX(-50%) scaleX(0.8)
    }
    100% {
        transform: translateX(-50%) scaleX(1)
    }
}

@keyframes shadow2 {
    50%{
        width: 0;
        transform: translateX(-50%);
    }
    100%{
        width: 100%;
        transform: translateX(-50%);
    }
}

/*Shoe fade animation*/
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*Title Animation*/
@keyframes title{
    0%{
        transform: scaleX(0);
        transform-origin: top left;
    }
    30%{
        transform: scaleX(1);
        transform-origin: top right;
    }
    60%{
        transform: scaleX(1);
        transform-origin:top right;
    }
    100%{
        transform: scaleX(0);
        transform-origin:top right;
    }
}

/*Shoe Replace Animation*/
@keyframes replace{
    5%{
        transform: scaleY(0.8);
    }
    10%{
        transform: scaleY(1);
    }
    40%{
        transform: translateY(-100vh);
    }
    60%{
        transform: translateY(-100vh);
    }
    85%{
        transform: translateY(0);
    }
    90%{
        transform: scaleY(0.8);
    }
    100%{
        transform: scaleY(1);
    }
}

@media screen and (max-width:1000px){
    {% comment %} main, .bar-bottom{
        grid-template-columns: 1fr;
    }
    .container{
        max-width: 700px;
    }
    .options{
        justify-self: start;
        width: 100%;
    }
    .controls{
        flex-direction: column;
    }
    .controls div {
        margin: 1em 0;
    } {% endcomment %}
}
</style>  

{% schema %}
{
  "name": "main-product",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "main-product"
    }
  ]
}
{% endschema %}

{% comment %} {% schema %}
{
"name":"Pr oduct-main",
"settings":[
  {
    "type": "color",
    "id": "background",
    "label": "Background",
    "default": "#F4F4F4"
  },
  {
    "type": "color",
    "id": "text_color",
    "label": "Text",
    "default": "#000000"
  }
],
"presets":[
    {
  "name": "product-main" 
    }
]
}
{% endschema %} {% endcomment %}
    {% comment %} <nav>
      <a href="index.html">
        <img src="./assets/images/MainLogo.png.svg"  style="width:80px;;" />
      </a>
      <span>Todays Top Picks</span>
      <a href="#">
          <span class="material-icons-outlined">
            shopping_bag
          </span>
      </a>
    </nav>
  <main>
      <div>
          <span>MENS-</span>
          <h1 class="title">
              <span class="titleText">
                  Red Nike Jordan Max Aura 3
              </span>
              <span class="titleOverlay"></span>
          </h1>
           <p class="description">
           Lorem ipsum dolor sit amet.
           </p>
           <div class="thumbs">
             <img src="./assets/images/shoe1-1/img1.jpg" alt="" class="thumb-active">
             <img src="./assets/images/shoe1-1/img2.jpg" alt="">
             <img src="./assets/images/shoe1-1/img3.jpg" alt="">
             <img src="./assets/images/shoe1-1/img4.jpg" alt="">
           </div>
      </div>
      <div class="showcase">
          <div>
              <img src="./assets/images/showcase/shoe1-1/img1.png" alt="">
              <div class="shadow"></div>
          </div>
      </div>
      <div class="options">
          <h4>Size</h4>
          <ul class="sizes">
              <li class="size-active">37</li>
              <li>38</li>
              <li>39</li>
              <li>40</li>
              <li>41</li>
          </ul>
          <div class="relative">
             <h4>Reviews</h4>
             <ul class="stars">
               <li>
                  <span class="material-icons-outlined">
                     star
                  </span>
               </li>
               <li>
                  <span class="material-icons-outlined">
                      star
                  </span>
               </li>
               <li>
                  <span class="material-icons-outlined">
                      star
                  </span>
               </li>
               <li>
                  <span class="material-icons-outlined">
                      star_outline
                  </span>
               </li>
             </ul>
          </div>
          <div class="pricing">
            <h4>Price</h4>
            <h4 class="price">$150</h4>
          </div>
          <div class="colors">
            <h4>Colors</h4>
            <ul>
              <li class="color color-active"></li>
              <li class="color"></li>
            </ul>
          </div>
      </div>
  </main>
  
 
  </div>

  {% schema %}
      {
        "name": "main-product",
        "settings": [],
        "blocks": [],
        "presets": [
          {
            "name": "main-product"
          }
        ]
      }
      {% endschema %}
 {% endcomment %}
