{% section 'header' %}

<section class="section shop" id="shop" aria-label="shop" >
    <div class="container">
      <div class="title-wrapper">
          <h2 class="h2 section-title">Our Bestsellers</h2>
          <a href="#" class="btn-link">
              <span class="span">Shop All Products</span>
              <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
          </a>
      </div>

      <ul class="has-scrollbar">
          <li class="scrollbar-item">
              <div class="shop-card">
                  <div class="card-banner img-holder" style="--width:540; --height:720;">
                      <img src="{{'sho1.jpg' | asset_url}}" alt="Bio-shroom Rejuvenating Serum" class="img-cover" width="540" height="720" loading="lazy">
                      <span class="badge"  aria-label="20% off">-20%</span>
                      <div class="card-actions">
                          <button class="action-btn" aria-label="add to cart">
                              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="add to wishlist">
                              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="compare">
                              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                          </button>
                      </div>
                  </div>
                  <div class="card-content">
                      <div class="price">
                          <del class="del">$39.00</del>
                          <span class="span">$29.00</span>
                      </div>
                      <h3>
                          <a href="#" class="card-title">Nike Air</a>
                      </h3>
                      <div class="card-rating">
                          <div class="rating-wrapper" aria-label="5 star rating">
                             <ion-icon name="star" aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                          </div>
                          <p class="rating-text">5170 reviews</p>
                      </div>
                  </div>
              </div>
          </li>
          <li class="scrollbar-item">
              <div class="shop-card">
                  <div class="card-banner img-holder" style="--width:540 ; --height:720 ;">
                      <img src="{{'shoe8.jpg' | asset_url}}" alt="Coffee Bean Caffeine Eye Cream" class="img-cover" width="540" height="720" loading="lazy">
                      <span class="badge"  aria-label="20% off">-20%</span>
                      <div class="card-actions">
                          <button class="action-btn" aria-label="add to cart">
                              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="add to wishlist">
                              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="compare">
                              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                          </button>
                      </div>
                  </div>
                  <div class="card-content">
                      <div class="price">
                          <del class="del">$39.00</del>
                          <span class="span">$29.00</span>
                      </div>
                      <h3>
                          <a href="#" class="card-title">Nike Sporty</a>
                      </h3>
                      <div class="card-rating">
                          <div class="rating-wrapper" aria-label="5 star rating">
                             <ion-icon name="star" aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                          </div>
                          <p class="rating-text">5170 reviews</p>
                      </div>
                  </div>
              </div>
          </li>
          <li class="scrollbar-item">
              <div class="shop-card">
                  <div class="card-banner img-holder" style="--width:540 ; --height:720 ;">
                      <img src="{{'shoe13.jpg' | asset_url}}" alt="Facial cleanser" class="img-cover" width="540" height="720" loading="lazy">
                      <span class="badge"  aria-label="20% off">-20%</span>
                      <div class="card-actions">
                          <button class="action-btn" aria-label="add to cart">
                              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="add to wishlist">
                              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="compare">
                              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                          </button>
                      </div>
                  </div>
                  <div class="card-content">
                      <div class="price">
                          <del class="del">$39.00</del>
                          <span class="span">$29.00</span>
                      </div>
                      <h3>
                          <a href="#" class="card-title">Nike AirForce</a>
                      </h3>
                      <div class="card-rating">
                          <div class="rating-wrapper" aria-label="5 star rating">
                             <ion-icon name="star" aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                          </div>
                          <p class="rating-text">5170 reviews</p>
                      </div>
                  </div>
              </div>
          </li>
          <li class="scrollbar-item">
              <div class="shop-card">
                  <div class="card-banner img-holder" style="--width:540; --height:720;">
                      <img src="{{'shoe1.jpg' | asset_url}}" alt="Bio-shroom Rejuvenating Serum" class="img-cover" width="540" height="720" loading="lazy">
                      <span class="badge"  aria-label="20% off">-20%</span>
                      <div class="card-actions">
                          <button class="action-btn" aria-label="add to cart">
                              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="add to wishlist">
                              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="compare">
                              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                          </button>
                      </div>
                  </div>
                  <div class="card-content">
                      <div class="price">
                          <del class="del">$39.00</del>
                          <span class="span">$29.00</span>
                      </div>
                      <h3>
                          <a href="#" class="card-title">Facial cleanser</a>
                      </h3>
                      <div class="card-rating">
                          <div class="rating-wrapper" aria-label="5 star rating">
                             <ion-icon name="star" aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                          </div>
                          <p class="rating-text">5170 reviews</p>
                      </div>
                  </div>
              </div>
          </li>
          <li class="scrollbar-item">
              <div class="shop-card">
                  <div class="card-banner img-holder" style="--width:540; --height:720;">
                      <img src="{{'sho14.jpg' | asset_url}}" alt="Facial cleanser" class="img-cover" width="540" height="720" loading="lazy">
                      <span class="badge"  aria-label="20% off">-20%</span>
                      <div class="card-actions">
                          <button class="action-btn" aria-label="add to cart">
                              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="add to wishlist">
                              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                          </button>

                          <button class="action-btn" aria-label="compare">
                              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                          </button>
                      </div>
                  </div>
                  <div class="card-content">
                      <div class="price">
                          <del class="del">$39.00</del>
                          <span class="span">$29.00</span>
                      </div>
                      <h3>
                          <a href="#" class="card-title">Facial cleanser</a>
                      </h3>
                      <div class="card-rating">
                          <div class="rating-wrapper" aria-label="5 star rating">
                             <ion-icon name="star" aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                             <ion-icon name="star"  aria-hidden="true"></ion-icon>
                          </div>
                          <p class="rating-text">5170 reviews</p>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
</div>
</section>
{% comment %} data-section {% endcomment %}
<section class="section shop" id="shop" aria-label="shop" >
<div class="container">
<div class="title-wrapper">
<h2 class="h2 section-title">Under $25</h2>
<a href="#" class="btn-link">
<span class="span">Shop All Products</span>
<ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
</a>
</div>

<ul class="has-scrollbar">
<li class="scrollbar-item">
<div class="shop-card">
  <div class="card-banner img-holder" style="--width:540; --height:720;">
      <img src="{{'shoes4.jpg' | asset_url}}" alt="Bio-shroom Rejuvenating Serum" class="img-cover" width="540" height="720" loading="lazy">
      <span class="badge"  aria-label="20% off">-20%</span>
      <div class="card-actions">
          <button class="action-btn" aria-label="add to cart">
              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="add to wishlist">
              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="compare">
              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
          </button>
      </div>
  </div>
  <div class="card-content">
      <div class="price">
          <del class="del">$39.00</del>
          <span class="span">$29.00</span>
      </div>
      <h3>
          <a href="#" class="card-title">Nike Airforce</a>
      </h3>
      <div class="card-rating">
          <div class="rating-wrapper" aria-label="5 star rating">
             <ion-icon name="star" aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
          </div>
          <p class="rating-text">5170 reviews</p>
      </div>
  </div>
</div>
</li>
<li class="scrollbar-item">
<div class="shop-card">
  <div class="card-banner img-holder" style="--width:540 ; --height:720 ;">
      <img src="{{'shoe15.jpg' | asset_url}}"  alt="Coffee Bean Caffeine Eye Cream" class="img-cover" width="540" height="720" loading="lazy">
      <span class="badge"  aria-label="20% off">-20%</span>
      <div class="card-actions">
          <button class="action-btn" aria-label="add to cart">
              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="add to wishlist">
              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="compare">
              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
          </button>
      </div>
  </div>
  <div class="card-content">
      <div class="price">
          <del class="del">$39.00</del>
          <span class="span">$29.00</span>
      </div>
      <h3>
          <a href="#" class="card-title">Nike SuperRep</a>
      </h3>
      <div class="card-rating">
          <div class="rating-wrapper" aria-label="5 star rating">
             <ion-icon name="star" aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
          </div>
          <p class="rating-text">5170 reviews</p>
      </div>
  </div>
</div>
</li>
<li class="scrollbar-item">
<div class="shop-card">
  <div class="card-banner img-holder" style="--width:540 ; --height:720 ;">
      <img src="{{'shoe10.jpg' | asset_url}}"  alt="Facial cleanser" class="img-cover" width="540" height="720" loading="lazy">
      <span class="badge"  aria-label="20% off">-20%</span>
      <div class="card-actions">
          <button class="action-btn" aria-label="add to cart">
              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="add to wishlist">
              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="compare">
              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
          </button>
      </div>
  </div>
  <div class="card-content">
      <div class="price">
          <del class="del">$39.00</del>
          <span class="span">$29.00</span>
      </div>
      <h3>
          <a href="#" class="card-title">Nike V2K</a>
      </h3>
      <div class="card-rating">
          <div class="rating-wrapper" aria-label="5 star rating">
             <ion-icon name="star" aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
          </div>
          <p class="rating-text">5170 reviews</p>
      </div>
  </div>
</div>
</li>
<li class="scrollbar-item">
<div class="shop-card">
  <div class="card-banner img-holder" style="--width:540; --height:720;">
      <img src="{{'sho14.jpg' | asset_url}}"  alt="Bio-shroom Rejuvenating Serum" class="img-cover" width="540" height="720" loading="lazy">
      <span class="badge"  aria-label="20% off">-20%</span>
      <div class="card-actions">
          <button class="action-btn" aria-label="add to cart">
              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="add to wishlist">
              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="compare">
              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
          </button>
      </div>
  </div>
  <div class="card-content">
      <div class="price">
          <del class="del">$39.00</del>
          <span class="span">$29.00</span>
      </div>
      <h3>
          <a href="#" class="card-title">Nike Metcon</a>
      </h3>
      <div class="card-rating">
          <div class="rating-wrapper" aria-label="5 star rating">
             <ion-icon name="star" aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
          </div>
          <p class="rating-text">5170 reviews</p>
      </div>
  </div>
</div>
</li>
<li class="scrollbar-item">
<div class="shop-card">
  <div class="card-banner img-holder" style="--width:540 ; --height:720 ;">
      <img src="{{'shoe17.jpg' | asset_url}}"  alt="Facial cleanser" class="img-cover" width="540" height="720" loading="lazy">
      <span class="badge"  aria-label="20% off">-20%</span>
      <div class="card-actions">
          <button class="action-btn" aria-label="add to cart">
              <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="add to wishlist">
              <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
          </button>

          <button class="action-btn" aria-label="compare">
              <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
          </button>
      </div>
  </div>
  <div class="card-content">
      <div class="price">
          <del class="del">$39.00</del>
          <span class="span">$29.00</span>
      </div>
      <h3>
          <a href="#" class="card-title">Nike Dunk</a>
      </h3>
      <div class="card-rating">
          <div class="rating-wrapper" aria-label="5 star rating">
             <ion-icon name="star" aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
             <ion-icon name="star"  aria-hidden="true"></ion-icon>
          </div>
          <p class="rating-text">5170 reviews</p>
      </div>
  </div>
</div>
</li>
</ul>
</div>
</section>

 {% section 'footer' %}